<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{site.title}"></title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container-fluid">
	<main class="row">
		<aside class="col-2">
			<!-- menuyu replace etmek için -->
			<div th:replace="~{fragment/menu.html :: menu}"></div>
		</aside>
		<section class="col-10">
			<div class="card shadow">
				<div class="card-body">
					<label th:text="#{ogretmen.id} + ' - '"></label> <label
						class="form-label" th:text="${param.id}"></label>
					<hr>
					<label th:text="#{ogretmen.isim} + ' - '"></label> <label
						class="form-label" th:text="${ogretmen.NAME}"></label>
					<hr th:if="${ogretmen.dersler.size() > 0}">
					<label th:if="${ogretmen.dersler.size() > 0}"
						th:text="#{ogretmen.dersler} + ' - '"></label>
					<!-- Öğretmen verdiği derslerin içindeki konuların isimleri virgül ile birleşti -->
					<label class="form-label"
						th:text="${#strings.arrayJoin(ogretmen.dersler.![konu.NAME], ', ')}"></label>
					<hr>
					<!-- Geldiğim sayfaya dönmek için -->
					<a class="btn btn-danger" href="/ogretmen" th:text="#{site.goback}"></a>
				</div>
			</div>
		</section>
	</main>
</body>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</html>